@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fractales {
  margin: auto;
  width: 450px;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 0;
  background: hsla(182, 88%, 94%, 1);

background: linear-gradient(90deg, hsla(182, 88%, 94%, 1) 15%, hsla(175, 85%, 97%, 1) 49%, hsla(197, 56%, 89%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(182, 88%, 94%, 1) 15%, hsla(175, 85%, 97%, 1) 49%, hsla(197, 56%, 89%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(182, 88%, 94%, 1) 15%, hsla(175, 85%, 97%, 1) 49%, hsla(197, 56%, 89%, 1) 100%);

  border: 4px solid #fff;
  outline: 1px solid #999;
}
.fractales-img {
  padding: 15px;
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px var(--custom) solid;
}
.fractales-img img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.fractales-lyrics {
  display: grid;
  grid-template-rows: auto;
  text-align: right;
  z-index: 1;
}
.fractales-lyrics h1 {
  grid-area: 1 / 1;
  font-family: "roboto";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -2px;
  color: #000;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 1),
    1px -1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1),
    1px 1px 0 rgba(255, 255, 255, 1);
  position: relative;
  top: -100px;
}
.fractales-lyrics h2 {
  font-family: "inconsolata";
  text-transform: lowercase;
  font-size: 15px;
  color: #000;
  margin-top: 5px;
  font-weight: 400;
  font-style: italic;
  position: relative;
  top: -100px;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 1),
    1px -1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 1),
    1px 1px 0 rgba(255, 255, 255, 1);
}
.fractales-post {
  padding: 50px;
  padding-bottom: 0px;
  width: 350px;
  background: #fff;
  line-height: 22px;
  font-family: "poppins";
  font-size: 11px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  top: -50px;
  border-radius: 3px;
}
.fractales-post b {
  font-weight: 400;
  font-size: 12px;
  background-image: background: hsla(187, 45%, 69%, 1);
background: linear-gradient(15deg, hsla(187, 45%, 69%, 1) 17%, hsla(186, 55%, 63%, 1) 49%, hsla(197, 73%, 53%, 1) 97%);
background: -moz-linear-gradient(15deg, hsla(187, 45%, 69%, 1) 17%, hsla(186, 55%, 63%, 1) 49%, hsla(197, 73%, 53%, 1) 97%);
background: -webkit-linear-gradient(15deg, hsla(187, 45%, 69%, 1) 17%, hsla(186, 55%, 63%, 1) 49%, hsla(197, 73%, 53%, 1) 97%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
}
.fractales-post i {
  color: #888;
  letter-spacing: 1px;
}
.fractales-post u {
  border-bottom: 2px solid var(--custom);
  text-decoration: none;
}
.fractales-tag {
  width: 350px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-top: 1px solid #999; 
  margin-top: 40px;
  font-family: var(--poppins); font-size: 9px; 
  font-weight: 500; 
  line-height: 100%; 
  text-transform: uppercase; 
  padding-bottom: 0px; 
  letter-spacing: 1px;
}
.fractales-tag a {
  text-decoration: none;
}
