@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#ighost1 {
    margin: 25px auto;
    width: 550px;
    background: #212121;
    border: 1px solid #111;
    padding: 30px;
    border-radius: 5px;
  }
  .ighost1-in {
    border: 1px solid #111;
    border-radius: 5px;
    display: grid;
      width: 545px;
      grid-template-rows: 1fr;
    grid-template-columns: 100px 1fr;
          transition: 0.7s;
  }
  .ighost1-l {
    display: grid;
    width: 100px;
    height: auto;
    background: var(--custom);
    border-radius: 4px 0 0 4px;
  }
  .ighost1-post tag {
    padding: 25px 0 0 25px;
    display: flex;
    flex-flow: row wrap;
    float: right;
  }
  .ighost1-post tag a {
    font-family: 'roboto';
    font-size: 15px;
    padding: 5px;
    line-height: 20px;
    font-weight: 100;
    background: var(--custom);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
  }
  .ighost1-post {
    grid-area: 1 / 2;
    padding: 35px;
    font-weight: 300;
    font-size: 13px;
    line-height: 180%;
    font-family: 'roboto';
    text-align: justify;
    color: #AFAFAF;
    width: 370px;
    height: auto;
  }
  .ighost1-post b {
    color: var(--custom);
    font: 100 15px/15px 'poppins';
  }
  .ighost1-post i {
    color: var(--custom);
    font: italic 300 13px 'poppins';
    letter-spacing: 0.8px;
  }
  .ighost1-post u {
    color: #fff;
    background: var(--custom);
    font: 100 13px 'poppins';
    padding: 0.2px;
    text-decoration: none;
  }
  .ighost1-post a {
      color: var(--custom);
    font: italic 100 13px/15px 'poppins';
    padding-bottom: 5px;
  }
  .ighost1-img {
    float: left;
    width: 70px;
    height: 70px;
    margin: 50px 15px 15px 10px;
    background: #212121;
    padding: 5px;
      position: -webkit-sticky;
    position: sticky;
    float: left;
    top: 50px;
  }
  .ighost1-img img {
    width: 70px;
    height: 70px;
    transition: 0.8s;
    filter: contrast(70%)brightness(65%);
  }
  #ighost:hover .ighost-img img{
    filter: none;
  }